/*!
 * 
 * CUSTOM CSS STYLE FOR ACCUTAX WEB 1040 PRO
 * 
 */


/* Google Fonts - ROBOTO*/
 @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');



	/* MAIN HEADER NAVIGATION STYLE*/
	
	.top-header{
	width: 100%;
	display: block;
	padding-top:2px;padding-bottom:5px;
	background-color: #fafafa;
	border-bottom: 1px solid  #c4c3c3;
	}

	.top-header .left-contact{
	display: block;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 7px;
	float: right;

	}

	.top-header .left-contact .phone-info{
	font-family: "Roboto";
	font-weight: 500;
	color: #5e5c5c;
	font-size: 13px;	
	float: left;
	margin-right:20px;
	margin-bottom: 0;
	}

	.top-header .left-contact .phone-info .fa{
	margin-right: 7px;
	font-size: 18px;
	vertical-align: -2px;
	}
	
	.top-header .left-contact .email-info{
	font-family: "Roboto";
	font-weight: 500;
	color: #5e5c5c;
	font-size: 13px;
	margin-bottom: 0;
	float: left;
	display: block;	
	}

	.top-header .left-contact .email-info .fa{
	margin-right:7px;
	font-size: 17px;
	vertical-align: -1px;
	}


	.navbar-toggler .navbar-toggler-icon .fa{
	font-size: 30px;
	display: block !important;
	color: #ce2027!important;
	border:0;
	}

	.main-navigation .logo-header{
	display: block;
	float: left;
	width: 230px !important;height: 40px;
	background:url(../img/logo-mr-biro.png) 0 0 no-repeat;
	margin-right: 0 !important;
	margin-top: 10px;

	}

	.main-navigation{
	background-color: #fafafa !important;
	display: block;
	padding-left: 0;padding-right: 0;
	}

	.main-navigation .nav-list .nav-link{
	font-family: "Roboto";
	font-weight: 400;
	 color: #353434;
	text-transform:uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	letter-spacing: 1px !important;
	margin-right:5px;
	margin-top: 10px;
	text-align: center;
	}

	/* nav hover effect*/
	
	.nav-list .nav-link:hover{
		color: #ce2027;
	}

	.nav-list .nav-link::before,
    .nav-list .nav-link::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
    }

   .nav-list .nav-link::before {
    margin-right:2px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
    }

    .nav-list .nav-link::after {
    margin-left:2px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
    }

	.nav-list .nav-link:hover::before,
	.nav-list .nav-link:hover::after,
	.nav-list .nav-link:focus::before,
	.nav-list .nav-link:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	color: #ce2027;
	}
	


	.nav-list .nav-item .sign-up-button{
	padding-top: 13px;
	padding-bottom: 12px;
	background-color: #ce2027 !important;
	color: #ffffff;
	font-size: 13px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	letter-spacing: 2px;
	font-weight: 400;
	font-family: "Roboto";
	padding-left: 18px;
	padding-right:22px;
	padding-top: 8px;padding-bottom: 8px;
	margin-top: 8px;
	text-align: center;
	border-radius: 2px;
	text-transform: uppercase;
    }

	.nav-list .nav-item .sign-up-button .fa{
	font-size: 18px;
	margin-right: 10px;
	vertical-align: -1px;
	}

	.nav-list .nav-item .sign-up-button:hover{
	color:#ffffff;
	background: #36C24E !important;
	cursor: pointer;
	text-decoration: none;
	}

/* Slider Carosuel On Index Main page */

    .carousel-item .img-fluid {
    width:100%;
    height:auto;
    }

    .carousel-item a {
    display: block;
    width:100%;
    }

    .carousel-item .img-fluid {
    width:100%;
    height:auto;
    }

    .carousel {
    background:#fafafa;
    padding-top: 100px;
    }

    .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0;
    left: 12%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    top: 32%;
    }


    .carousel-caption h2{

    font-weight: bold;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-weight: 700;
    font-size:3.2vw;
    letter-spacing: 2px;
    text-transform:uppercase;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    }


    .carousel-caption p{
    font-family: 'Roboto';
    font-weight: 400;
    color: #fff;
    /*font-size: 1.3vw;*/
    font-size: 1.4vmax;
    margin-top: 20px;
    }

    
	/* Mobile App section */

	.mob-app-section {
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: #fafafa;
	background-image: url(../img/background-clients.png);
    background-repeat: no-repeat;
    background-size: cover;
	}

	.app-first-side{
	position: relative;
	display: block;	
	width: 100%;
	margin-bottom: 25px;
	}

	.mob-app-section .second-side img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

    .app-first-side .headline-app{
    font-family: "Roboto";
    font-weight: 400;
    color: #084e81!important;
    font-size: 38px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    }

    .app-first-side .headline-app span{
    font-family: "Roboto";
    font-weight: 500;
    color: #084e81!important;
    font-size: 38px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    }

    .app-first-side .border-line-app{
    border-bottom: 1px solid #e0e0e4;
    width: 30%;
    margin-bottom: 15px;
    display: block;
    }

    .app-first-side h5{
    font-family: "Roboto";
    font-weight: 400;
    color: #767876;
    font-size: 22px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 35px;

    }

    .app-first-side .text-description{
       font-family: "Roboto";
    font-weight: 400;
    color: #3f3e3e;
    font-size: 16px;
    text-align: left;
    }



	#back-to-top {
	position: fixed;
	bottom: 40px;
	right: 15px;
	z-index: 9999;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	background: rgba(0,0,0,0.3);
	color: #fafafa;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
	}
	#back-to-top:hover {
	background: rgba(0,0,0,0.5);
	}
	#back-to-top.show {
	opacity: 1;
	}


	/*  USLUGE  OUR SERVICES*/

	#services{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #084e81;
	}

	#services .text-box-1 h2 {
	font-family: "Roboto";
	font-weight: 500;
	color: #f99419;
	font-size: 38px;
	margin-bottom: 10px;
	text-align:center;
	text-transform: uppercase;
	}

	#services .text-box-1 .border-line-3 {
	border-bottom: 1px solid #DFDFE7;
	width: 15%;
	margin-bottom: 15px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	}

	#services .text-box-1 h4 {
	font-family: "Roboto";
	font-weight: 400;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	margin-bottom: 50px;
	}

	.our-services-1{
	display: block;
	float: left;
	width: 95%;
	list-style-type: circle;
	padding-left:0;
	}

	.our-services-1 .name{
	font-family: "Roboto";
	font-weight: 500;
	color: #f99419;
	font-size: 18px;
	text-transform: uppercase;
	text-align: left;
	margin-bottom:20px; 
	}

	.our-services-1 .name img{
	margin-right: 15px;
	}

	.our-services-1 li{
	display: list-item;
	float: left;   
	width: 100%;
	list-style-type: circle;
	margin-left:8%;
	color: #ffffff;
	}

	.our-services-1 li p{
	font-family: "Roboto";
	font-weight: 400;
	color: #ffffff;
	font-size: 17px;
	text-align:left;
	margin-bottom: 10px;
	margin-left: 5px;
	}

	/* Nase  usluge red ispod*/

	.our-services-2{
	display: block;
	float: left;
	width: 95%;
	list-style-type: circle;
	padding-left:0;
	}

	.our-services-2 .name{
	font-family: "Roboto";
	font-weight: 500;
	color: #f99419;
	font-size: 16px;
	text-transform: uppercase;
	text-align: left;
	margin-bottom:20px; 
	}

	.our-services-2 .name img{
	margin-right: 36px;
	}
	.our-services-2 li{
	display: list-item;
	float: left;   
	width: 100%;
	list-style-type: circle;
	margin-left:8%;
	color: #ffffff;
	}

	.our-services-2 li p{
	font-family: "Roboto";
	font-weight: 400;
	color: #ffffff;
	font-size: 17px;
	text-align:left;
	margin-bottom: 10px;
	margin-left: 5px;
	}




	/* Responsive Design Changes fixes CSS Tablet  */
	
	@media (max-width: 767.98px) {


		.top-header .right-button{
			text-align: left !important;
		}

		.about-side-1 .ab-text h3{
			background: none;
		}

		.device-feautures .text-bxs .maintitle{
			font-size: 32px;
		}

		.device-feautures .text-bxs .subtitle{
			background: none;
		}

		#features .text-area .maintitle-2{
			font-size: 32px;
		}

		#features .text-area .subtitle-1{
			background: none;
		}

		.plus-features .text-box-3 h2{
			font-size: 32px;
		}

		.plus-features .text-box-3 h3{
			background: none;
		}

		.badge-60 .text-in h3{
			font-size: 30px;
		}

		.text-box-4 h3{
			background: none;
		}

		.text-box-4 h4{
			font-size: 34px;
		}

		#pricing-section .text-box-price h2|{
			font-size: 34px;
		}

		#pricing-section .text-box-price h4{
			font-size: 17px;
		}

		.discount-section .four-services{
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.discount-section .offer-text h4{
			font-size: 26px;
		}
		
		.banner-call-to-action .box-content-bnr img {
		float: left;
		display: block;
		margin-right: 10px;
		width: 18%;
		}
		
		.banner-call-to-action .box-content-bnr h5 span {
		font-family: "Roboto";
		font-weight: 400;
		color: #f7f5f5;
		font-size: 27px;
		text-align:center;
		padding-bottom: 10px;
		letter-spacing: 1px;
		}

		.banner-call-to-action .box-content-bnr h5 {
		font-family: "Roboto";
		font-weight: 500;
		color: #f7f5f5;
		font-size: 27px;
		text-align:center;
		padding-bottom: 10px;
		letter-spacing: 1px;
		}

		.banner-call-to-action .box-content-bnr .btn-started {
		display: block;
		width: 237px;
		font-family: "Roboto";
		font-weight: 500;
		color: #fafafa;
		text-transform: uppercase;
		font-size: 14px;
		background-color: #5fea4e;
		padding-top: 13px;
		padding-bottom: 13px;
		padding-left: 15px;
		padding-right: 15px;
		border: 0;
		border-radius: 25px;
		letter-spacing: 1px;
		margin-top: 15px;
		margin-right: auto !important;
		margin-left: auto !important;
		float: none;
		}
		
		.banner-call-to-action .box-content-bnr h3{
			text-align: center;
			font-size: 18px;
			margin-top:5px;
		}

		.banner-call-to-action .box-content-bnr h3 span{
			text-align: center;
			font-size: 18px;
			margin-top: 5px;
		}

		#faq-section .text-faq-box h3{
			background: none;
		}

		#faq-section .text-faq-box h2{
			font-size: 31px;
		}

		.webpro-faq .faq-header .btn{
			font-size: 13px;
		}
		
		.webpro-faq .faq-header{
			padding-right: 5px;padding-right:5px;
		}

		.webpro-faq .card-body{
			font-size: 13px;
		}

		.cnt-text .call-now-txt {
		font-family: "Roboto";
		font-weight: 500;
		color: #ffffff;
		font-size: 30px;
		text-align: center;
		text-transform: none;
		letter-spacing: 2px;
		margin-bottom: 5%;
		border: 2px solid #ffffff;
		width: 85%;
		display: block;
		margin-right: auto;
		margin-left: auto;
		padding-top: 17px;
		padding-bottom: 17px;
		border-radius: 3px;
		}

		.cnt-text .call-now-txt span{
			font-size: 30px;
		}

		.box-contact .skew-txt-bck h3{
			font-size: 16px;
		}	

		.box-contact{
			margin-bottom: 25px;
		}

		#contact .cta-buttons .btn-signup-4 {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 280px;
		}

		#contact .cta-buttons .btn-demo-4 {
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		width: 280px;
		}

		.center-contact .info-cnt p{
			font-size: 13px;
		}

		.logo-left-info .sub-text{
			font-size: 13px;
		}

		.sub-footer .rgt-privacy .go-privacy{
			float: none;
			text-align: center;
		}



	}   /* /End Tablet size */




	/* Responsive Design Changes adds CSS Mobile phones*/

	
	@media (max-width: 575.98px) { 
	
		
		.top-header .right-button {
			display: block;
			width: 100%;
			text-align: left !important;
			
			
			}
		 
		.about-side-1 .ab-text h2 {
		   font-size: 37px;
			}
		
		.about-side-1 .ab-text h3 {
			font-size: 18px;
			 background: url(../img/text-shape.png) 93% 0 no-repeat;
	  	}

	  	.app-first-side .headline-app {
	  	 font-size: 33px;
	   	}
	   	
	   	.app-first-side .headline-app span {
	  	 font-size: 33px;
	   	}
	   	
	   	.device-feautures .text-bxs .maintitle {
	   	font-size: 27px;
	   	}

	   	#features .text-area .maintitle-2{
	   		font-size: 34px;
	   	}

	   	#features .text-area .maintitle-2{
	   		padding-left: 0;
	   		font-size: 19px;
	   		background:none;
	   	}

	   	#features .text-area .subtitle-1{
	   		font-size: 22px;
	   		background: none;
	   	}
		
		.plus-features .text-box-3 h2{
			font-size: 26px;
		}

		.plus-features .text-box-3 h3{
			background: none;
			font-size: 19px;
		}
		
		.badge-60 .text-in h3{
			font-size: 24px;
		}
		
		#efiling .text-box-4 h4{
			font-size: 32px;
		}

		#efiling .text-box-4 h3{
			background:none;
		}

		.device-feautures .text-bxs .subtitle{
			background: none;
		}

		.partners-section .txt-area-6 h2{
	     font-size:33px;
		}

		#pricing-section .text-box-price h2{
			font-size: 32px;
		}
		#pricing-section .text-box-price h4{
			font-size: 16px;
		}

		.discount-section .offer-text h4{
			font-size: 25px;
		}

		.banner-call-to-action .box-content-bnr h5 span{
			font-size: 19px;
			text-align: center;
		}
		.banner-call-to-action .box-content-bnr h5{
			font-size: 19px;
			text-align: center;
		}
		
		.cnt-text .call-now-txt span {
			font-size: 28px;
			
		}

		.cnt-text .call-now-txt{
			font-size: 28px;
			width: 85%;
			
		}

		.sub-footer .rgt-privacy .go-privacy{
			text-align: center;
			float: none;
		}

		.sub-footer .rgt-privacy{
			display: block;
			width: 100%;
		}

		.center-contact .info-cnt p {
			font-size: 11px;
			margin-left: 0;
		}

		.center-contact .info-cnt p .fa{
         font-size: 11px;
         margin-right: 3px;
		}
		.logo-left-info .sub-text {
			font-size: 10px;
		}

		.sub-footer .copy{
			font-size: 11px;
		}

		.cnt-text .cnt-subtitle{
			font-size: 32px;
		}

		#contact .cta-buttons .btn-signup-4{
			margin-left: auto;
			margin-right: auto;
			display: block;
			width: 264px;
		}

		#contact .cta-buttons .btn-signup-4 span{
			font-size: 15px;
		}

		#contact .cta-buttons .btn-demo-4{
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		width: 264px
		}

		#contact .cta-buttons .btn-demo-4 span{
			font-size: 15px;
		}

		.box-contact{
			margin-bottom: 20px;
		}

		.customer-section .impression-2{
			margin-top: 60px;
		}

		.webpro-faq .faq-header .btn {
		font-family: "Roboto";
		font-weight: 500;
		color: #8c8986;
		font-size: 11px;
		white-space: normal !important;
		word-wrap: break-word !important;
		padding-right: 0;
		padding-left: 5px;
		}

		.webpro-faq .card-body{
			font-size: 12px;
		}

		.webpro-faq .faq-header{
			padding-left: 5px;
			padding-right: 5px;
		}

		#faq-section .text-faq-box h2{
			font-size: 31px;
		}

		#faq-section .text-faq-box h3{
			background: none;
			font-size: 15px;
		}

		.undecide-section .headline-text-1 h2{
			font-size: 35px;
		}

		.undecide-section .headline-text-1 h4{
			font-size: 19px;
		}

		.banner-call-to-action .box-content-bnr img {
		float: left;
		display: block;
		margin-right:3px;
		width:16%;
		}

		.banner-call-to-action .box-content-bnr .btn-started {
		display: block;
		width: 237px;
		font-family: "Roboto";
		font-weight: 500;
		color: #fafafa;
		text-transform: uppercase;
		font-size: 14px;
		background-color: #5fea4e;
		padding-top: 13px;
		padding-bottom: 13px;
		padding-left: 15px;
		padding-right: 15px;
		border: 0;
		border-radius: 25px;
		letter-spacing: 1px;
		margin-top: 15px;
		margin-right: auto !important;
		margin-left: auto !important;
		float: none;
		}

		#pricing-section .sub-text-2 p{
			font-size: 14px;
		}

		.left-side-efiling .box-text p{
			font-size: 16px;
		}
		.left-side-efiling .box-text h5{
			font-size: 16px;
		}

		.discount-section .four-services {
		display: block;
		margin-left: 0;
		margin-right:0;
		}

		.box-contact .skew-txt-bck h3{
			font-size: 14px;
		}

		.box-contact .skew-txt-bck a{
		 font-size: 14px;
		}

	}

